<!DOCTYPE html>
<title>CoE Catering Corp.</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
    <h1>CoE Catering Corp.</h1>
    <div class="meta">
    {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">Log In</a>
        <a href="{{ url_for('register') }}">Register</a>
    {% else %}
        <a href="{{ url_for('logout') }}">Log Out</a>
    {% endif %}     
    </div>
    {% for message in get_flashed_messages() %}
        <div class="flask">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>